@model List<Interface.Presentation.Models.Application.ApplicationAndBugsViewModel>

@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="panel panel-success col-md-7 box">
        <div class="panel-heading">
            <h4>Applications</h4>
        </div>
        <div class="panel-body">
            <div class="row filter-app">
                <form action="~/User/Search/" method="post" class="form-horizontal" role="form">
                    <div class="form-inline">
                        <div class="col-md-8">
                            <input type="text" class="form-control align-input-text" id="appNameForm" value="@ViewBag.FilterName" name="name" placeholder="App name...">
                        </div>
                        <div class="col-md-8">
                            <input href="~/User/Search/" class="btn btn-success" id="searchForm" type="submit" value="Search" />
                            <a href="~/Application/RegisterApp/" class="btn btn-success">New App</a>
                        </div>
                    </div>
                </form>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>App Name</th>
                        <th>Last Track</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @try
                            {
                                <td>
                                    <img src="~/Content/Images/Application/@item.AppImage" class="icon list" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AppName)
                                </td>
                                <td>
                                    <a href="#" data-toggle="tooltip" data-placement="right" title="@item.Bug.Description">
                                        @(item.Bug.Description.Length <= 15 ? @item.Bug.Description : @item.Bug.Description.Substring(0, 14))
                                    </a>
                                </td>
                                <td>
                                    @item.Bug.OccurredDate.ToString("dd/MM/yyyy HH:mm")
                                </td>
                            }
                            catch (Exception e)
                            {
                                <td></td>
                                <td></td>
                            }
                            <td><a href="~/Application/DetailsApp/@item.AppId" class="fa fa-th-list" alt="Detalhes"></a></td>
                            <td><a href="~/Application/RegisterApp/@item.AppId" class="fa fa-pencil" alt="Editar"></a></td>
                            <td><a href="#" class="fa fa-trash-o delete" alt="Exlcuir" data-delete-id="@item.AppId"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-success col-md-4 box panel-informations">
        <div class="panel-heading">
            <h4>Today</h4>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>App Name</th>
                        <th>Warnings</th>
                        <th>Errors</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><a href="#"></a>@Html.DisplayFor(modelItem => item.AppName)</td>
                            <td><span class="fa fa-exclamation-triangle warnings table-icon"></span>@item.TracksCountWarning</td>
                            <td><span class="fa fa-exclamation-triangle errors table-icon"></span>@item.TracksCountError</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/home")
}