@model BugTracker.Domain.Entity.Application
@{
    ViewBag.Title = "Application Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-success col-md-11 box full-width">
    <div class="panel-heading">
        <h4>Graphics</h4>
    </div>

    <div id="graphics"></div>
</div>

    <div class="panel panel-success col-md-11 box full-width">
        <div class="panel-heading">
            <h4>@Html.DisplayFor(model => model.Title) </h4>
        </div>
        <div class="panel-body">
            <div id="count-bugs" class="text-center"></div>
            <div id="filters">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <input type="text" class="form-control" value="@ViewBag.FilterName" name="Trace" id="Trace" placeholder="Trace...">
                </div>

                <div class="col-md-3 status-filter">
                    @{
                        int i = 1;

                        foreach (String s in ViewBag.Status)
                        {
                            <input type="checkbox" id="Status" class="align-input-text" name="Status" checked="checked" value="@i" /> @s
                            i++;
                        }
                    }
                </div>
                <div class="col-md-5">
                    <button id="filter" class="btn btn-success btn-hover-green">Filter</button>
                    <button class="btn btn-success dropdown-toggle btn-hover-green" type="button" id="dropdown-export" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Export
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-export" aria-labelledby="dropdown-export">
                        <li class="text-center">
                            <button class="btn btn-success" type="button" id="convert-to-pdf" data-link="/BugTracker/ExportBugsForPdf"> Pdf </button>
                        </li>
                        <li class="text-center">
                            <button class="btn btn-success" type="button" id="convert-to-txt" data-link="/BugTracker/ExportBugsForTxt"> Txt </button>
                        </li>
                    </ul>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Trace</th>
                        <th>Status</th>
                        <th>Occurred Date</th>
                        <th>Tags</th>
                        <th>Browser Name</th>
                        <th>Browser Version</th>
                        <th>Operation System</th>
                    </tr>
                </thead>
                <tbody id="list-bug-tracks"></tbody>
            </table>
        </div>
    </div>

@using (Html.BeginForm("ExportBugsForPdf", "BugTracker", FormMethod.Post, new { @class = "export-form", id = "filter-form" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="IdApplication" id="export_idApplication" />
    <input type="hidden" name="Track" id="export_track" />
}

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="modal" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Track details</h4>
            </div>
            <div class="modal-body" id="trace-content">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/application")

    <script>
        var idApplication = '@Model.IDApplication';
        new BugTrackerView().init();
    </script>
}