@model BugTracker.Domain.Entity.Application
@{
    ViewBag.Title = "Application Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-success col-md-11 box">
    <div class="panel-heading">
        <h4>Graphics</h4>
    </div>

    <div id="graphics"></div>
</div>

<div class="row">
    <div class="panel panel-success col-md-11 box">
        <div class="panel-heading">
            <h4>@Html.DisplayFor(model => model.Title) </h4>
        </div>
        <div class="panel-body">
            <div id="count-bugs" class="text-center"></div>
            <div id="filters">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <input type="text" class="form-control" value="@ViewBag.FilterName" name="Trace" id="Trace" placeholder="Trace...">
                </div>

                <div class="col-md-3 status-filter">
                    @{
                        int i = 1;

                        foreach (String s in ViewBag.Status)
                        {
                            <input type="checkbox" id="Status" class="align-input-text" name="Status" checked="checked" value="@i" /> @s
                            i++;
                        }
                    }
                </div>
                <div class="col-md-3">
                    <button id="filter" class="btn btn-success">Filter</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Trace</th>
                        <th>Status</th>
                        <th>Occurred Date</th>
                        <th>Tags</th>
                        <th>Browser Name</th>
                        <th>Browser Version</th>
                        <th>Operation System</th>
                    </tr>
                </thead>
                <tbody id="list-bug-tracks"></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="modal" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Track details</h4>
            </div>
            <div class="modal-body" id="trace-content">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/application")

    <script>
        var idApplication = '@Model.IDApplication';
        new BugTrackerView().init();
    </script>
}
