@model Interface.Presentation.Models.UserRecovery.UserRecoveryViewModel

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "BugTracker New Password";
}

@section css{
    <link href="~/Content/Custom/forms.css" rel="stylesheet" />
}

@using (Html.BeginForm("NewPassword", "UserRecovery", FormMethod.Post, new { @class = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Set the new password bellow</h3>
            </div>
            <div class="panel-body">
                <div class="row register-column">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "New Password", required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm New Password", required = "required" })
                            </div>
                        </div>
                        <input type="submit" value="Save" class="btn btn-success btn-send pull-right" />
                    </div>
                   @Html.HiddenFor(model => model.IDCode)
                </div>
            </div>
        </div>
    </div>
}