@model List<Interface.Presentation.Models.BugTracker.BugTrackerViewModel>
@foreach (var bug in Model)
{
    <tr>
        <td>
            <a href="#" data-toggle="tooltip" title="@bug.Trace">
                <i class="fa fa-code" aria-hidden="true"></i>
            </a>
        </td>
        <td>@bug.Status</td>
        <td>@bug.OccuredDate.ToString("dd/MM/yyyy HH:mm")</td>
        <td>
            <a href="#" data-toggle="tooltip" title="@bug.Tags">
                <i class="fa fa-tags" aria-hidden="true"></i>
            </a>
        </td>
        <td>@bug.Browser.Name</td>
        <td>@bug.Browser.Version</td>
        <td>@bug.OperationalSystem.Name</td>
    </tr>
}   